.App-header {
  background-color: var(--maroon);
  min-height:10vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Design for the body of the app.
Scales the contents to be centered, also based on the minimum of the user's display height/width.*/ 
.App-body {
  min-height: 90vh; /* between header + body, height is 100vh */
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  background-color: var(--cool-grey);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


/* overriding bootstrap's container-fluid to include Top/Bottom padding */
@media (min-width: 768px) {
  .container-fluid{
    padding: 40px 40px 40px 40px;
  }
}

/* add spacing when columns stack */
@media (max-width: 768px) {
  [class*="col-"] {
      margin-bottom: 15px;
  }
}

.primary-modal #modal-header {
  background-color: var(--maroon);
}

.primary-modal #modal-title {
  color: white;
}

/*.pie-chart {*/
  /*width: 200px;*/
/*  height: 200px;
  background-color: blue;
}*/

.program-result {
  /*background-color: pink;*/
  box-shadow: 2px 2px 10px #888888;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

button.close {
  font-size: 2rem;
  color: #fff;
  /* Overwrite default text shadow */
  text-shadow: 0 0px 0 #fff;
}

button.close:hover {
  color: #fff;
}

/* prevent user highlighting of text */
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.sticky-message {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4; /*should be the highest in the app*/
}
.alert-heading {
  margin-bottom: 0;
  margin-top: 0;
}

.alert-dismissible .close{
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-maroon);
}

.map-alert {
  background-color: var(--gold);
  border-color: var(--maroon);
}

/* transluscent background: https://bit.ly/3eLSog1 */
.loading-overlay {
  content: " ";
  z-index: 10;
  display: block;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.lds-ring.loading-ring {
  left: 50%;
  top: 50%;
  color: var(--maroon);
  transform: translate(-50%,-50%);
}