.course-cart-container{
    height:100%;
    margin-top: 42px;
  }
  
  .cart{
    height: 600px;
    background: #fff;

    position: relative;
  
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--maroon);
    padding: 5px 5px 5px 5px;

    box-shadow: 5px 10px 18px #888888;
  }

  .submit-button{
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 5px;
  }

  /* Resolves classing css between bootstrap and mcmaster css*/
  .btn-primary:focus {
    color: #fff;
    background-color: #7a003c;
    border-color: #7a003c;
  }

  .btn-primary:hover {
    background-color: #5e6a71;
    border-color: #5e6a71;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
  }
  