/* ensure tab height always maximized */
.tab-content>.tab-pane{
    display:block;
    visibility:hidden;
  }
  .tab-content>.active{
    visibility:visible;
  }
  
  /* content box underneath tabs*/
  .tab-content{
    background-color:white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--maroon);
    padding: 5px 5px 5px 5px;
  
  }
  
  /*styling of react-bootstrap tabs*/
  .nav-tabs .nav-item{
    background-color: var(--maroon);
    color:white;
    margin-left:1px;
  }
  .nav-tabs .nav-link.active{
    border-width: 2px 2px 0px 2px;
    border-color: var(--maroon)
  }
  
  /* fake link css for courses to match mcmaster styling for <a>*/
  .fake-link {
    color: #7d0040;
    text-decoration: underline;
    cursor: pointer;
  }
    
  span.fake-link:hover {
    color: #222;
  }
  
  