/* ensure tab height always maximized */
.tab-content>.tab-pane{
    display:block;
    visibility:hidden;
  }
  .tab-content>.active{
    visibility:visible;
  }
  
  /* content box underneath tabs*/
  .tab-content{
    background-color:white;
/*    border-style: none solid solid solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--maroon);*/
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 10px 18px #888888;
  }
  
  /*styling of react-bootstrap tabs*/

.navbar {
  box-shadow: 5px 0px 18px #888888;
}

  .nav-tabs .nav-item{
    background-color: var(--maroon);
    color:white;
    margin-left:1px;
  }
  .nav-tabs .nav-link.active{
    border-width: 2px 2px 0px 2px;
    border-color: var(--maroon)
  }
  
  .course-item {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px 5px 5px 5px;
    width: 100%;
    align-self: flex-start;  
    }

  /* show clickability for course text only*/ 
  .course-code {
    cursor: pointer;
    font-size: 18px; /*matches bootstrap font-size for tabs*/
  }

  .course-col-container {
    width: 100%;
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    align-content: center;
  }

  .course-col {
    width: 50%;
    align-self: flex-start;  
  }

  /* mobile view should have 1 col */
  @media (max-width: 768px) {
    .course-col {
      width: 100%;
    }
  }

  .course-container {
    padding: 5px;
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    align-content: center;

  }
  
  .course-action{
    cursor:pointer;
    color: var(--maroon);
  }  

.description-textbox {
  font-size:16px;
  margin-top: 5px;
  background-color: var(--light-grey);
  width: 100%;
  padding: 0 5px 0 5px;
}


