/* Custom colors */
:root {
	--light-maroon : #ac1455;
	--maroon :       #7a003c;
	--dark-maroon :  #56002a;
	
	--light-grey :   #efefef;
	--cool-grey :    #dbdbdd;
	--medium-grey :  #aeb4b8;
	--grey :         #5e6a71;
	--dark-grey :    #222222;
	
	--maroon :       #7a003c;
	--gold :         #fdbf57;
	
	--bw-yellow :    #ffd100;
	--bw-lime :      #d2d755;
	--bw-sky-blue :  #8bd3e6;
	
	--bw-red :       #a6192e;
	--bw-green :     #007b4b;
	--bw-blue :      #007096;

/* Looking at all the places these colors are used, i'm not
	sure if I want to actually change all of these. It's a
	lot of work...*/
	--primary : 	var(--maroon);
	--secondary :	var(--gold);
	--info :		var(--cool-grey);
}

/* Custom stylesheet */
@import url("https://documents.mcmaster.ca/www/cdn/css/1.0/mcm-bw.css")

/* Custom fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:300,300i,700,700i")